<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

        <title>Proyecto Integrador</title>

        <link rel="shortcut icon" th:href="@{.../imagesLayout/gt_favicon.png}">

        <link rel="stylesheet" th:href="@{/cssLayout/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/cssLayout/font-awesome.min.css}">
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <!-- Custom styles for our template -->
        <link rel="stylesheet" th:href="@{/cssLayout/bootstrap-theme.css}" media="screen">
        <link rel="stylesheet" th:href="@{/cssLayout/main.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/uiverse.css}"/>
    </head>

    <body >
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top headroom">
            <div class="container">
                <div class="navbar-header">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <img src="@{/imagesLayout/logoUno.png}" width="80" height="auto">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="sidebar-left.html">Left Sidebar</a></li>
                                <li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- /.navbar -->

        <!-- Header -->
        <header id="head">
            <div class="container">
                <div class="row">
                    <h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1>
                    <p class="tagline">PROGRESSUS: free business bootstrap template by <a
                            href="#">GetTemplate</a>
                    </p>
                    <button class="button"> <a th:href="@{/login}" style="color: #ffffff; text-decoration: none;">Iniciar Sesion</a> 
                    </button>
                    <button class="button"> <a th:href="@{/register}" style="color: #ffffff; text-decoration: none;">Registrarse</a> 
                    </button>
                </div>
            </div>
        </header>


        <div class="container-fluid" layout:fragment="page-content">

        </div>



        <footer id="footer" class="top-space">

            <div class="footer1">
                <div class="container">
                    <div class="row">

                        <div class="col-md-5 widget">
                            <h3 class="widget-title">Protal Municipal</h3>
                            <div class="widget-body">
                                <p>Av. Nicolás Ayllón 856 Carretera Central Km. 24 Lima - Perú</p>
                                <p>Atención Lunes a Viernes: 8:00-13:00 / 13:45-16:30</p>
                                <p>Central Telefonico: 901131957</p>
                                <p>Aló Rentas: 721-2572</p>

                            </div>
                        </div>

                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Chaclacayo</h3>
                            <div class="widget-body">
                                <a href="mailto:#">Iglesia Municipal</a><br>
                                <p>Lima - Perú - 2019
                                </p>

                                <a href="mailto:#">Noche Municipal</a><br>
                                <p>Lima - Perú - 2019
                                </p>

                                <a href="mailto:#">Municipalidad De Chaclacayo</a><br>
                                <p>Lima - Perú - 2019
                                </p>
                            </div>
                        </div>
                    </div> <!-- /row of widgets -->
                </div>
            </div>


            <div class="footer2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 widget">
                            <div class="widget-body">
                                <p class="text-center">
                                    &copy; 2019 <a href="http://gettemplate.com/"
                                                   rel="designer">Municipalidad de Chaclacayo</a>, 856, Av. Nicolás de Ayllón, Chaclacayo.
                                </p>
                            </div>
                        </div>

                    </div> <!-- /row of widgets -->
                </div>
            </div>

        </footer>





        <!-- JavaScript libs are placed at the end of the document so the pages load faster -->



        <script th:src="@{/jsLayout/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/jsLayout/bootstrap.min.js}"></script>
        <script th:src="@{/jsLayout/headroom.min.js}"></script>
        <script th:src="@{/jsLayout/jQuery.headroom.min.js}"></script>
        <script th:src="@{/jsLayout/template.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    <th:block layout:fragment="page-scripts">

    </th:block>


</body>
</html>