<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutDashboard}">
    <head th:replace="layout/layoutDashboard :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid p-3" layout:fragment="page-content">
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-gauge me-2"></i>Plantillas para la Solicitud</h4>
            </nav> <br>
            <div class="container"> 
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre del Formato</th>
                            <th scope="col">Modelo Formato</th>
                            <th scope="col">Modelo Para rellenar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>SOLICITUD PARA REGISTRO NUEVO DE ORGANIZACIÓN</td>
                            <td><a download="MODELO_SOLICITUD_NUEVO_GPV" href="/plantillas/MODELO_SOLICITUD_NUEVO_GPV_PDF.pdf"><i class="fa-solid fa-file-pdf"></i></td>
                            <td> <a download="MODELO_SOLICITUD_NUEVO_GPV" href="/plantillas/MODELO_SOLICITUD_NUEVO_GPV.docx"> <i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>SOLICITUD PARA ACTUALIZACIÓN DE ORGANIZACIÓN</td>
                            <td><a download="MODELO_SOLICITUD_ACTUALIZACION" href="/plantillas/MODELO_SOLICITUD_ACTUALIZACION_PDF.pdf"><i class="fa-solid fa-file-pdf"></i></td>
                            <td> <a download="MODELO_SOLICITUD_ACTUALIZACION" href="/plantillas/MODELO_SOLICITUD_ACTUALIZACION_GPV_WORD.docx"> <i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>ACTA DE ELECCIÓN DEL ÓRGANO DIRECTIVO</td>
                            <td><a download="MODELO_ELECCION_ORGANO_DIRECTIVO" href="/plantillas/MODELO_ELECCION_ORGANO_DIRECTIVO_PDF.pdf"><i class="fa-solid fa-file-pdf"></i></td>
                            <td> <a download="MODELO_ELECCION_ORGANO_DIRECTIVO" href="/plantillas/MODELO_ELECCION_ORGANO_DIRECTIVO.docx"> <i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ESTATUTO Y ACTA DE APROBACIÓN</td>
                            <td><a download="MODELO_ESTATUTO_ACTA_APROBACION" href="/plantillas/MODELO_ESTATUTO_ACTA_APROBACION_PDF.pdf"><i class="fa-solid fa-file-pdf"></i></td>
                            <td> <a download="MODELO_ESTATUTO_ACTA_APROBACION" href="/plantillas/MODELO_ESTATUTO_ACTA_APROBACION.docx"> <i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>ACTA DE FUNDACIÓN O DE CONSTITUCIÓN</td>
                            <td> <a download="MODELO_ACTA_CONSTITUCION_ASOCIACION" href="/plantillas/MODELO_ACTA_CONSTITUCION_ASOCIACION_PDF.pdf"><i class="fa-solid fa-file-pdf"></i></a></td>
                            <td> <a download="MODELO_ACTA_CONSTITUCION_ASOCIACION" href="/plantillas/MODELO_ACTA_CONSTITUCION_ASOCIACION.docx"> <i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
