<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutDashboard}">
    <head th:replace="layout/layoutDashboard :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid p-3" layout:fragment="page-content">
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-gauge me-2"></i>Registro RUOS</h4>
            </nav>
            <div class="container-fluid ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-11 col-lg-10 mt-4">
                        <div class="card  border-success">
                            <div class="card-header bg-success bg-opacity-50">
                                Registrar RUOS
                            </div>
                            <div class="card-body">
                                <form method="post" th:action="@{/solicitud/registrarSolicitud}" th:object="${solicitudDto}">
                                <h5 class="card-title">Datos de La Organizacion: </h5>
                                <input 
                                    class="form-control mt-5 mb-4"
                                    type="text"
                                    th:field="*{nombreOrg}"
                                    id="razonSocial"
                                    required=""
                                    placeholder="Ingrese el nombre de su organizacion: ">
                                <select th:field="*{tipoOrg}" name="tipoOrganizacion" id="tipoOrganizacion" class="form-select mb-4" required="">
                                    <option value="0" disabled="" selected="">Tipo de Organzacion</option>
                                    <option th:each="option : ${listaTipoOrg}" th:value="${option.id}" th:text="${option.nombreTipo}"></option>
                                </select>
                                <select th:field="*{nivelOrg}" name="nivelOrganizacion" id="nivelOrganizacion" class="form-select mb-4" required="">
                                    <option value="0" disabled="" selected="">Nivel de Organzacion</option>
                                    <option th:each="option : ${listaNivelOrg}" th:value="${option.id}" th:text="${option.nivelOrg}"></option>
                                </select>
                                 <select th:field="*{local}"  name="localOrganizacion" id="localOrganizacion" class="form-select mb-4" required="">
                                    <option value="0" disabled="" selected="">Local de Organzacion</option>
                                    <option th:each="option : ${listaLocalOrg}" th:value="${option.id}" th:text="${option.local}"></option>
                                </select>
                               
                                <button type="submit" class="btn btn-success align-items-center" onclick="guardarDatos()">
                                    <i class="fa-solid fa-floppy-disk"></i><strong class="me-2"> Guardar</strong>
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <script src="/js/ususarioModel.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
