<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGerencia}">
    <head th:replace="layout/layoutGerencia :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid p-3 " layout:fragment="page-content">
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-gauge me-2"></i>Perfil</h4>
            </nav>



            <div class="container-fluid ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-11 col-lg-10 mt-4">
                        <div class="card  border-success">
                            <div class="card-header bg-success bg-opacity-50">
                                Registrar Junta
                            </div>
                            <div class="card-body">
                                <form >
                                    <h5 class="card-title">Registro de Junta: </h5>

                                    <div class="row">
                                        <div class="col-6">
                                            <input 
                                                class="form-control mt-5 mb-4"
                                                type="text"

                                                id="razonSocial"
                                                required=""
                                                placeholder="Registre la primera persona">
                                        </div>

                                        <div class="col-6">
                                            <select  name="tipoOrganizacion" id="tipoOrganizacion" class="form-select mb-4" required="">
                                                <option value="0" disabled="" selected="">Cargo</option>
                                                <option value="1">Presidente</option>
                                                <option value="2">SubPresidente</option>
                                                <option value="3">Secretaria</option>
                                                <option value="4">Vocal</option>
                                            </select>
                                        </div>

                                        </div>
                                    <div class="row">

                                        <div class="col-6">
                                            <input 
                                                class="form-control mt-5 mb-4"
                                                type="text"

                                                id="razonSocial"
                                                required=""
                                                placeholder="Registre la segunda persona ">
                                        </div>

                                        <div class="col-6">
                                            <select  name="tipoOrganizacion" id="tipoOrganizacion" class="form-select mb-4" required="">
                                                <option value="0" disabled="" selected="">Cargo</option>
                                                <option value="1">Presidente</option>
                                                <option value="2">SubPresidente</option>
                                                <option value="3">Secretaria</option>
                                                <option value="4">Vocal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input 
                                                class="form-control mt-5 mb-4"
                                                type="text"

                                                id="razonSocial"
                                                required=""
                                                placeholder="Registre la tercer persona ">
                                        </div>

                                        <div class="col-6">
                                            <select  name="tipoOrganizacion" id="tipoOrganizacion" class="form-select mb-4" required="">
                                                <option value="0" disabled="" selected="">Cargo</option>
                                                <option value="1">Presidente</option>
                                                <option value="2">SubPresidente</option>
                                                <option value="3">Secretaria</option>
                                                <option value="4">Vocal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md">
                                            <input 
                                                class="form-control mt-5 mb-4"
                                                type="text"

                                                id="razonSocial"
                                                required=""
                                                placeholder="Registre la cuarta persona ">
                                        </div>

                                        <div class="col-md">
                                            <select  name="tipoOrganizacion" id="tipoOrganizacion" class="form-select mb-4" required="">
                                                <option value="0" disabled="" selected="">Cargo</option>
                                                <option value="1">Presidente</option>
                                                <option value="2">SubPresidente</option>
                                                <option value="3">Secretaria</option>
                                                <option value="4">Vocal</option>
                                            </select>
                                        </div>
                                        <a class="btn btn-success" th:href="@{/principal/menu/gerencia/}">
                                            Guardar
                                        </a>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </body>
</html>
