<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutGerencia}">
    <head th:replace="layout/layoutGerencia :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid p-3 " layout:fragment="page-content">
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-gauge me-2"></i>Derivar Solicitud</h4>
            </nav>



            <div class="container-fluid ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-11 col-lg-10 mt-4">
                        <div class="card  border-success">
                            <div class="card-header bg-success bg-opacity-50">
                                Derivar Solicitud
                            </div>
                            <div class="card-body">
                                
                                    <div class="row">



                                        <table class="table table-success table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Nombre Organizacion</th>
                                                    <th scope="col">Nivel Organizacion</th>
                                                    <th scope="col">Tipo Organizacion</th>
                                                    <th scope="col">Fecha Registro</th>
                                                    <th scope="col">Enviar</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="soli : ${listarSolicitudGerente}">
                                                    <td th:text="${soli.id}"></td>
                                                    <td th:text="${soli.nombre_org}"></td>
                                                    <td th:text="${soli.nivelOrganizacion.nivelOrg}"></td>
                                                    <td th:text="${soli.tipoOrganizacion.nombreTipo}"></td>
                                                    <td th:text="${soli.fecha_registro}"></td>
                                                    <td>
                                                        <a class="btn btn-success" th:href="@{/principal/menu/gerencia/derivarRUOS/} + ${soli.id}" onclick="derivarSubGerencia()">
                                                            Derivar
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                            </div>
                        </div>
                    </div> 
                </div>

            </div> 
        </div>
    </body>
</html>
