<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/login.css"/>
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
    </head>
    <body>
        <header class="fondoImg">
            <div class="login">
                <div class="form">
                    <img src="imagesLayout/logoUno.png" width="90">
                    <div class="groupUno">
                        <input required="" type="text" class="input">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Usuario</label>
                    </div>

                    <div class="groupDos">
                        <input required="" type="password" class="input">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                    <button class="buttonLogin"> Sign In </button>
                </div>
            </div>
        </header>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
